html{

}
body{
    font-size: 16px;
    overflow-y:auto;
    overflow-x: hidden;
    padding:0 !important;
    margin:0;
    font-family: Poppins;
}

/*common*/
.content .banner{
    height:150px;
    background-image: url("../images/apple-icon-114x114.png");
    background-repeat: no-repeat;
    background-size:60px 60px;
    background-position: 168px 45px;
    border-bottom:8px solid #253748;
}
.content .banner > div{
    display:inline-block;
}
.content .banner .logo-content{
    margin-top: 29px;
    border-left:1px solid #707070;
    margin-left:250px;
    padding-left:30px;
    height:93px;
}
.content .banner .logo-content ul{
    list-style: none;
    margin-top:0;
    padding-top:18px;
    padding-left:0;
    font-size: 27px;
    margin-bottom: 0;
}
.content .banner .logo-content ul li{
    display: inline-block;
    font-family: Poppins;
    font-weight: 300;
    color:#568c90;
}
.content .banner .logo-content ul li:nth-child(2){
    font-weight: 600;
    color:#253748;
    margin-left: -5px;
}
.content .banner .logo-content ul li:last-child{
    color:#5b8c90;
    font-size:10px;
    vertical-align: top;
}
.content .banner .logo-content .bottom{
    font-family: Poppins;
    font-weight:700;
    font-size:9px;
    text-transform: uppercase;
    letter-spacing: 4.2px;
}
.content .main {
    background-color:#f9f9f9;
    height: calc(100vh - 150px);
}


.login.content{

}
.login.content .banner{
    height: 312px;
    text-align: right;
    background-image:none;
    border-bottom:0px;
}
.login.content .banner > div{
    display:inline-block;
}
.login.content .banner .left{
    width:49%;
    height:100%;
    vertical-align: top;
    text-align: left;
    background-image: url("../images/apple-icon-114x114.png");
    background-repeat: no-repeat;
    background-size:114px 114px;
    background-position: 63px 80px;
}
.login.content .banner .logo-content{
    margin-top: 50px;
    border-left:1px solid #707070;
    margin-left:210px;
    padding-left:53px;
    height:184px;
}
.login.content .banner .left ul{
    list-style: none;
    margin-top:0;
    padding-top:37px;
    padding-left:0;
    font-size: 50px;
    margin-bottom: 0;
}
.login.content .banner .left ul li{
    display: inline-block;
    font-family: Poppins;
    font-weight: 300;
    color:#568c90;
}
.login.content .banner .left ul li:nth-child(2){
    font-weight: 600;
    color:#253748;
}
.login.content .banner .left ul li:last-child{
    color:#5b8c90;
    font-size:20px;
    vertical-align: top;
}
.login.content .banner .left .bottom{
    font-family: Poppins;
    font-weight:700;
    font-size:18px;
    letter-spacing: 6.8px;
}
.login.content .banner .right{
    background-image: url("../images/room_detail.png");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60px;
    width:49%;
}
.login.content .main{
    background-color: #253748;
    height:calc(100vh - 312px);
    color: #fff;
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
}
.login.content .main .login-form-container{
    width:500px;
    margin:0px auto;
    padding-top: 100px;
}
.login.content .main .login-form-container .form-main .title{
    margin-top: 50px;
}
.login.content .main .login-form-container .form-main .input-box{
    margin-top: 17px;
}
.login.content .main .login-form-container .form-main .input-box input{
    border-top:0;
    border-right:0;
    border-bottom: 1px solid #fff;
    border-left: 0;
    background-color:#253748;
    width:484px;
    color:#fff;
    font-family: Poppins;
    font-weight: 300;
    font-size: 28px;
    padding-left: 10px;
}
.login.content .main .login-form-container .form-main .submit{
    margin-left: 150px;
    margin-top: 100px;
    width:196px;
    height: 40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border:1px solid #707070;
    background-color: #fff;
    color:#2e3a48;
    cursor:pointer;
    text-align: center;
    padding-top: 11px;
}

/* guest */

.guest.content .main{
    padding:26px 140px 0 140px;
}
.guest.content .main .search{
    display: table;
    width: 100%;
}
.guest.content .main .search .title{
    text-transform: uppercase;
    display: table-cell;
    font-size:36px;
    color: #253748;
}
.guest.content .main .search .search-box{
    text-align: right;
    width:100%;
    position: relative;
}
.guest.content .main .search .search-box .search-click{
    position: absolute;
    width:26px;
    height: 26px;
    cursor: pointer;
    top:13px;
    right: 13px;
}
.guest.content .main .search .search-box input{
    font-style: italic;
    font-size:20px;
    width: 719px;
    height: 50px;
    background: url("../images/icons8-search@3x.png") no-repeat right 12px center;
    background-size: 26px 26px;
    padding-left: 12px;
    border:1px solid #c4c4c4;
    color:#afafaf;
}
.guest.content .main .guest-list ul{
    list-style: none;
    padding-left:0px;
    color:#253748;
}
.guest.content .main .guest-list>ul>li{
    display: block;
    font-size:14px;
    border-bottom:1px solid #5b8c90;
    padding-left: 10px;
}
.guest.content .main .guest-list>ul>li.guest-header{
    font-size: 18px;
}
.guest.content .main .guest-list>ul>li>ul{
    display: table;
    width:100%;
    height: 75px;
}
.guest.content .main .guest-list>ul>li>ul>li{
    text-transform: capitalize;
    vertical-align: middle;
}
.guest.content .main .guest-list>ul>li>ul>li:not(:last-child){
    display: table-cell;
}
.guest.content .main .guest-list>ul>li>ul>li:nth-child(1){
    width:14%;
}
.guest.content .main .guest-list>ul>li>ul>li:nth-child(2){
    width:17%;
}
.guest.content .main .guest-list>ul>li>ul>li:nth-child(3){
    width:11.6%;
}
.guest.content .main .guest-list>ul>li>ul>li:nth-child(4){
    width:11.7%;
}
.guest.content .main .guest-list>ul>li>ul>li:nth-child(5){
    width:10.5%;
}
.guest.content .main .guest-list>ul>li>ul>li:nth-child(6){
    width:100%;
    padding-top: 20px;
}
.guest.content .main .guest-list>ul>li.guest-header>ul>li{
    vertical-align: top;
    padding-top: 18px;
}
.guest.content .main .guest-list>ul>li>ul>li div.coupon-btn{
    background-color: #5b8c90;
    border:1px solid #f5f5f5;
    border-radius: 5px;
    width: 185px;
    height:35px;
    color:#fff;
    padding: 7px 24px 7px 24px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor:pointer;
}
.guest.content .main .guest-list>ul>li.guest-row:hover{
    background-color: #253748;
}
.guest.content .main .guest-list>ul>li.guest-row:hover > ul{
    color:#fff;
}
.guest.content .main .guest-list>ul>li.guest-row:hover div.coupon-btn {
    background-color: #fff;
    color:#253748;
}
.guest.content .main .guest-list>ul>li.guest-row.hidden{
    display: none;
}

/* coupon */
.coupon.content .main{
    padding:21px 140px 0 140px;
    background-color: #e4e4e4;
}
.coupon.content .main .back-link{
    font-size:16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 21px;
}
.coupon.content .main .back-link a {
    text-decoration: none;
}
.coupon.content .main .back-link a:before{
    content:  "<";
    font-size: 1.4em;
    margin-right: 12px;
    position: relative;
    top:3px;
}
.coupon.content .main .coupon-list ul{
    list-style: none;
    display: table;
    padding-left: 0;
    font-size:0;
}
.coupon.content .main .coupon-list ul li.coupon-item{
    width:24.3%;
    max-width: 398px;
    display: inline-block;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
    background-color: #fff;
    margin-right: 15px;
    margin-bottom: 20px;
}
.coupon.content .main .coupon-list ul li.coupon-item:nth-child(4n){
    margin-right: 0;
}
.coupon.content .main .coupon-list ul li.coupon-item .coupon-container{
    padding-top: 18px;
}
.coupon.content .main .coupon-list ul li.coupon-item .title {
    font-size:18px;
    font-weight: 500;
    color:#253748;
    padding-left: 19px;
}
.coupon.content .main .coupon-list ul li.coupon-item .coupon-content {
    display: table;
    padding-top: 10px;
}
.coupon.content .main .coupon-list ul li.coupon-item .coupon-content .left-img{
    display: table-cell;
    width:199px;
}
.coupon.content .main .coupon-list ul li.coupon-item .coupon-content img{
    width:199px;
    height: 225px;
}
.coupon.content .main .coupon-list ul li.coupon-item .coupon-content .right-content {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    text-align: center;
}
.coupon.content .main .coupon-list ul li.coupon-item .coupon-content .description{
    font-size: 12px;
    color:#707070;
    padding-left: 19px;
    padding-right: 18px;
    text-align: left;
}
.coupon.content .main .coupon-list ul li.coupon-item .coupon-content .print-btn{
    font-size: 14px;
    color:#fff;
    background-color: #5b8c90;
    border-radius: 10px;
    width:71px;
    height: 25px;
    text-align: center;
    padding:5px 8px 5px 5px;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 7px;
    display: inline-block;
}
