<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hotel Guest Coupon </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,500,600,700" rel="stylesheet"></link>
    <link rel="stylesheet" type="text/css" href="../../css/site.css"></link>

</head>
<body style="padding-top:50px;">
 <div class="coupon content">
     <div class="banner">
         <div class="logo-content">
             <ul>
                 <li>smart</li>
                 <li>hotel</li>
                 <li>360</li>
             </ul>
             <div class="bottom">
                 coupon management
             </div>
         </div>
     </div>
     <div class="main">
         <div class="back-link">
             <a href="/guest">back to hotel guests</a>
         </div>
         <div class="coupon-list">
            <ul>
                <li class="coupon-item">
                    <div class="coupon-container">
                        <div class="title">Buy One Coffee, Get One Free</div>
                        <div class="coupon-content">
                            <div class="left-img">
                                <img src="../images/shutterstock_219202168@2x.png" />
                            </div>
                            <div class="right-content">
                                <div class="description">
                                    Lorem ipsum dolor sit amet, consectetur adpishing elit. Nam sed dignissim metus. Fusce aliquam odio et lectus accumsan, nec viverra ipsum tempor. In lorem massa, Lorem ipsum dolor sit amet.
                                </div>
                                <div class="print-btn">print</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="coupon-item">
                    <div class="coupon-container">
                        <div class="title">Buy Two Steak Entrees, get $50 OFF</div>
                        <div class="coupon-content">
                            <div class="left-img">
                                <img src="../images/shutterstock_219202168@2x.png" />
                            </div>
                            <div class="right-content">
                                <div class="description">
                                    Lorem ipsum dolor sit amet, consectetur adpishing elit. Nam sed dignissim metus. Fusce aliquam odio et lectus accumsan, nec viverra ipsum tempor. In lorem massa, Lorem ipsum dolor sit amet.
                                </div>
                                <div class="print-btn">print</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="coupon-item">
                    <div class="coupon-container">
                        <div class="title">Unlimited Fries with every drink</div>
                        <div class="coupon-content">
                            <div class="left-img">
                                <img src="../images/shutterstock_219202168@2x.png" />
                            </div>
                            <div class="right-content">
                                <div class="description">
                                    Lorem ipsum dolor sit amet, consectetur adpishing elit. Nam sed dignissim metus. Fusce aliquam odio et lectus accumsan, nec viverra ipsum tempor. In lorem massa, Lorem ipsum dolor sit amet.
                                </div>
                                <div class="print-btn">print</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="coupon-item">
                    <div class="coupon-container">
                        <div class="title">25% OFF all althletic gear</div>
                        <div class="coupon-content">
                            <div class="left-img">
                                <img src="../images/shutterstock_219202168@2x.png" />
                            </div>
                            <div class="right-content">
                                <div class="description">
                                    Lorem ipsum dolor sit amet, consectetur adpishing elit. Nam sed dignissim metus. Fusce aliquam odio et lectus accumsan, nec viverra ipsum tempor. In lorem massa, Lorem ipsum dolor sit amet.
                                </div>
                                <div class="print-btn">print</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="coupon-item">
                    <div class="coupon-container">
                        <div class="title">Buy One Coffee, Get One Free</div>
                        <div class="coupon-content">
                            <div class="left-img">
                                <img src="../images/shutterstock_219202168@2x.png" />
                            </div>
                            <div class="right-content">
                                <div class="description">
                                    Lorem ipsum dolor sit amet, consectetur adpishing elit. Nam sed dignissim metus. Fusce aliquam odio et lectus accumsan, nec viverra ipsum tempor. In lorem massa, Lorem ipsum dolor sit amet.
                                </div>
                                <div class="print-btn">print</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="coupon-item">
                    <div class="coupon-container">
                        <div class="title">Buy One Coffee, Get One Free</div>
                        <div class="coupon-content">
                            <div class="left-img">
                                <img src="../images/shutterstock_219202168@2x.png" />
                            </div>
                            <div class="right-content">
                                <div class="description">
                                    Lorem ipsum dolor sit amet, consectetur adpishing elit. Nam sed dignissim metus. Fusce aliquam odio et lectus accumsan, nec viverra ipsum tempor. In lorem massa, Lorem ipsum dolor sit amet.
                                </div>
                                <div class="print-btn">print</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="coupon-item">
                    <div class="coupon-container">
                        <div class="title">Buy One Coffee, Get One Free</div>
                        <div class="coupon-content">
                            <div class="left-img">
                                <img src="../images/shutterstock_219202168@2x.png" />
                            </div>
                            <div class="right-content">
                                <div class="description">
                                    Lorem ipsum dolor sit amet, consectetur adpishing elit. Nam sed dignissim metus. Fusce aliquam odio et lectus accumsan, nec viverra ipsum tempor. In lorem massa, Lorem ipsum dolor sit amet.
                                </div>
                                <div class="print-btn">print</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="coupon-item">
                    <div class="coupon-container">
                        <div class="title">Buy One Coffee, Get One Free</div>
                        <div class="coupon-content">
                            <div class="left-img">
                                <img src="../images/shutterstock_219202168@2x.png" />
                            </div>
                            <div class="right-content">
                                <div class="description">
                                    Lorem ipsum dolor sit amet, consectetur adpishing elit. Nam sed dignissim metus. Fusce aliquam odio et lectus accumsan, nec viverra ipsum tempor. In lorem massa, Lorem ipsum dolor sit amet.
                                </div>
                                <div class="print-btn">print</div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
         </div>
     </div>
 </div>

  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
  <script src="../../js/guest.js"></script>

</body>
</html>