<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hotel Guest Coupon </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,500,600,700" rel="stylesheet"></link>
    <link rel="stylesheet" type="text/css" href="../../css/site.css"></link>

</head>
<body style="padding-top:50px;">
 <div class="guest content">
     <div class="banner">
         <div class="logo-content">
             <ul>
                 <li>smart</li>
                 <li>hotel</li>
                 <li>360</li>
             </ul>
             <div class="bottom">
                 coupon management
             </div>
         </div>
     </div>
     <div class="main">
         <div class="coupon-list">

         </div>
     </div>
 </div>

  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
  <script src="../../js/guest.js"></script>

</body>
</html>